name: CI

on: [push, pull_request]

jobs:
  validate:
    name: GHC ${{ matrix.ghc }}
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        ghc: ['8.6', '8.8', '8.10', '9.0']
    env:
      CONFIG: "--enable-tests --enable-doc"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2.3.4

      - name: Setup Haskell
        uses: haskell/actions/setup@v1.2.2
        with:
          ghc-version: ${{ matrix.ghc }}
          cabal-version: '3.4.0.0'

      - name: Determine Dependencies
        run: |
          cabal update
          cabal freeze $CONFIG
      - uses: actions/cache@v2
        id: Check Cache
        with:
          path: |
            ~/.cabal/store
            dist-newstyle
          key: ${{ runner.os }}-${{ matrix.ghc }}-${{ hashFiles('cabal.project.freeze') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.ghc }}-

      - name: Build
        run: cabal build parsley $CONFIG

      - name: Test
        run: cabal test parsley $CONFIG

      - name: Doc
        run: cabal haddock parsley $CONFIG
